@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

/* General style rule */
* {
    margin: 0;
    padding: 0;
    border: none;
}

#logo-image {
    font-family: Lato, san-serif;
    text-align: center;
    margin-top: 1%;
    top: 20px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}


#top-banner {
    width: 100%;
    height: 150px;    
    /*padding-top: 10px;   bottom: 25%;*/
    /*background-color: rgba(234, 54, 9, 0.246);*/
    background-color: rgba(141, 31, 3, 0.246);
    /*position: fixed;*/
}

body {
    font-family: Lato, san-serif;
    font-weight: 300;
    color:#3a3a3a;
}

/* Headings and Logo */
h1, h2 {
    font-family: Montserrat, san-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/*style for the logo name Baking Frenzy Cakes */
#logo-name {
    float: left;
    margin-top: 50px;
    text-transform: capitalize;
    font-family: Lora, sans-serif;
    letter-spacing: 1px;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 150px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    height: 70vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 70vh;
    width: 100vw;
    background: url('../images/cupcakes.jpg') no-repeat center center; 
    background-size: cover;
}

#welc-banner, #welc-banner h2, #welc-banner h3, #welc-banner h4 {
    color: #fff;
    font-family: Lora, sans-serif;
    text-transform: capitalize;
}

/* Landing page, welcome banner */
#welc-banner {
        font-size: 200%;
        font-family: Lora, sans-serif;
        /*text-transform: uppercase;*/
        width: 100%;
        height: 200px;
        letter-spacing: 4px;
        padding-top: 40px;
        background-color: rgba(233, 50, 5, 0.246);
        bottom: 25%;
        position: absolute;
        text-align: center;
    }
    #welc-banner h3, #welc-banner h4 {
        color: #fff;
        font-family: Lora, sans-serif;
        text-transform: capitalize;
        font-size: 100%;
    }

/*
    font-size: 130%;
    font-family: Lora, sans-serif;
    background-color: #ceed08;
    height: 300px;
    width: 200px;
    padding-top: 40px;
    padding-left: 10px;

    bottom: 30px;
    right: 150px;
    position: absolute;
}


/*
.prods-line{
        margin:0;padding:0 10px;
        background:#fff;
        display:inline-block;
    }

#prod-text{    
        text-align:center;
        position:relative;
        z-index:2;
    }
    #prod-text:after{
        content:"";
        position:absolute;
        top:50%;
        left:0;
        right:0;
        border-top:solid 1px red;
        z-index:-1;
    }
*/

.prod-text {
    font-family: Lora, san-serif;
    font-size: 25px;
    letter-spacing: 4px;
}

#cake-menus {
    height: 600px;
    margin: 30px 80px 20px 160px;
    justify-content: center;
    /*margin-right: 60px;*/
    /*padding: 10px 100px 0 100px;
    position: relative;*/
}
/*

padding-top
padding-right
padding-bottom
padding-left
So, here is how it works:

If the padding property has four values:

padding: 25px 50px 75px 100px;
top padding is 25px
right padding is 50px
bottom padding is 75px
left padding is 100px*/


.cakes-choice {
    /*width: 300px;
    height: 250px;*/
    width: 25%;
    height: 40%;
    display: inline-block;
    text-align:center ;
    background-position: center;
    background-position: cover;
    /*<img id="classic-img" src="assets/images/weddingmain.jpg" alt="Wedding Cakes">   */
    margin-right: 10px;
    border-radius: 30px;
    border: 10px solid rgba(105, 27, 7, .4);
    /*padding: 15px 25px;*/
}
    
/*
/*
#novelty-menu {
    padding-top: 30px;
    width: 50%;
    float: left;
}*/

.novelty-img {
/*    width: 30vw;
    height: 30vh;*/
    background-image: url('../images/NoveltyMain.jpg');
  /*  margin-left: 50px;
    border-radius: 30px;
    border: 5px solid red*/
}
.wedding-img {
/*    width: 60%;
    height: 50%;*/
    background-image: url('../images/weddingmain.jpeg');
}

.classic-hdr {
    width: 100%;
    height: 100%;
    /*width: 100px;
    height: 150px;*/
  /*  background: url('../images/classiccakesfinal.png') no-repeat center center;*/
   /* background-repeat: no-repeat;
    background-position: center;
    background-position: cover;*/
    border-radius: 20px;
}
.classic-img {
    width: 100%;
    background: url('../images/classiccakes.png') no-repeat center center;
}



/*

/*    border-radius: 30px;
    box-sizing: border-box;
    border: 5px solid red */

    /*position:top ;*/
    /*float: none;*/
    /*padding-top: 0%;*/
    /*margin-left: 50px;
*/
/*
.novelty-hdr {
    width: 80%;
    height:40%;
    float: right;
    line-height: 10px;
    clear: both;
    margin-bottom: 50px;
}
/*
#wedding-menu {
    width: 33%;
/*    display: inline;*/
     /* } */
/*
/*}

.wedding-hdr {
    width: 80%;
    height:40%;
    float: right;
    line-height: 10px;
    clear: both;
    margin-bottom: 50px;
}
*/
/*
#classic-menu {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: silver;
}
*/

