@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

/* General style rule */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/*Baking Frenzy main logo*/
#logo-image {
    font-family: Lato, san-serif;
    text-align: center;
    margin-top: 1%;
    top: 20px;
    float: left;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 1%;
}

/*top portion section background of the logo */
#top-banner {
    width: 100%;
    height: 150px;    
    /*padding-top: 10px;   bottom: 25%;*/
    /*background-color: rgba(234, 54, 9, 0.246);*/
    background-color: rgba(141, 31, 3, 0.246);
    /*position: fixed;*/
}

/* Headings and Logo */
h1, h2 {
    font-family: Montserrat, san-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/*style for the logo name Baking Frenzy Cakes */
#logo-name {
    float: left;
    margin-top: 50px;
    text-transform: capitalize;
    font-family: Lora, sans-serif;
    letter-spacing: 1px;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 3px;
    font-family: Montserrat, san-serif;
}

#menu, #logo {
    line-height: 150px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    height: 70vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 70vh;
    width: 100vw;
    background: url('../images/cupcakes.jpg') no-repeat center center; 
    background-size: cover;
}


/* Landing page, welcome banner */
#welc-banner {
    font-size: 200%;
    font-family: Lora, sans-serif;
    width: 100%;
    height: 200px;
    letter-spacing: 4px;
    padding-top: 40px;
    background-color: rgba(233, 50, 5, 0.4);
    bottom: 25%;
    position: absolute;
    text-align: center;
    align-items: center;
}

/*#welc-banner, #welc-banner h2{ commented temporarily to check if welc-banner needed here on this code*/ 
#welc-banner h2 {    
color: #fff;
font-family: Montserrat, sans-serif;
display: block;
/*width: fit-content;*/ /*this code makes my h2 not centered for some reason */
text-align: center;
align-items: center;
justify-content: center;
text-transform: capitalize;
letter-spacing: 0px;
position: relative;
}

#welc-banner h3, #welc-banner h4 {
    color: #fff;
    font-family: Lora, sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
}

/*What are you looking for text with horizontal rule */
.prod-text {
    font-family: Lora, san-serif;
    font-size: 25px;
    letter-spacing: 4px;
}

button {
    width: 220px;
    color: whitesmoke;
    font-size: 16px;
    font-family: Lora, sans-serif;
    padding: 12px 10px;
    background: rgba(146, 31, 2, 0.901);
    /*background: rgba(60, 13, 2, 0.8);*/
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 25px;
    margin-left:35px;
    cursor: pointer;
}

/*style for what are you looking for text on the landing page*/
#cakes-title{
    margin-top: 25px;
 }

 /*style for the cake product types */
#cake-menus {
    height: 500px;
    /*width: 80%;*/
    width: 65%;
    display: flex; 
    margin: 70px 50px 80px 230px;
   	justify-content: center;
    border: 5px solid coral;
}

.cakes-choice {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 25px;
    width:300px;
    height:280px;
    border-radius: 20px;
    display: inline-block;   
    /*border: 10px solid rgba(102, 22, 2, 0.746);    */
    border: 10px solid rgba(172, 36, 2, 0.4);

}
 
.novelty-hdr {
    width:100%;
    height:100%;
    border-radius: 10px;
    padding-top: 0px;
    margin-top: 0;
 }

 .novelty-hdr button {
  /*  margin-top: 10px;*/
 /*   margin-left: 38px;*/
 }

.wedding-hdr {
    width:100%;
    height:100%;
    border-radius: 10px;
}

.classic-hdr {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* gallery photos */
#photos {
    clear: both;
    line-height: 0;
    column-count: 6;
    column-gap: 1;
    padding: 0;
    justify-content: center;
}

#photos > img {
    margin-top: 15px;
    margin-bottom: 0px;
    /*margin-left: 10px;*/
    /*margin-right: 400px;*/
    border-radius: 10px;
    border: 1px solid rgba(172, 36, 2, 0.4);
    /*margin-left: 35px;*/
    display: inline-block;
    width: 100%;
}

/*Gallery.html page main image background */
#gall-outer {
    /*height: 500vh;*/
    height:max-content;
    width: 100vw;
    overflow: hidden;
    position: relative;
    margin:0;
}

#gall-hero-img {
    height: 90vh;
    width: 100vw;
    background-image: url('../images/cakelightback.jpg');
    background-size: cover;
    position: relative;
    z-index: 1;
}

#gall-hero-img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 88%;
    width: 95%;
    background-color: rgba(233, 50, 5, 0.2);
    opacity: .7;
    margin-top: 38px;
    margin-left: 40px;
    margin-right: 200px;
    justify-content: center;
    z-index: -1;
}

/*#gall-back-img {
    background-color: rgba(233, 50, 5, 0.3);
    /*justify-content: center;*/
/*    margin-left: 90px;
    margin-right: 40px;
    margin-top: 50px;
    width: 85%;
    height: 85%;
    padding-top: 200px;
    bottom: 25%;
    position: absolute;
    text-align: center;
*/    


.about {
    height: 500px;
}

#about-container {
    /*width: fit-conten/*t;*/
    height: 35px;
    background-color: rgba(233, 50, 5, 0.2);
    padding:0;
    text-align: center;
    justify-content: center;
}

#about-container > h2{
    /*width: fit-content;*/
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 1200;
    
    /*height: 50px;*/
    color:black;
    display: block;
}

/*
#about-container h2{
    width: fit-content;
    height: 30px;
    letter-spacing: 2px;
    background-color: coral;

    
}

#about-container > h3{
    width: 400px;
    height: 200px;
    border: 5px solid black;
    letter-spacing: 2px;
}
*/


footer {
    width: 150px;
}

.social-networks {
    text-align: center;
    border: 5px solid chocolate;
}


.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}
