@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300&family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&family=Lora:ital,wght@1,500&display=swap');


/* General style rule/settings */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* style for body (generic)
body{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
} */

/* Headings and Logo */
h1 {
    font-family: Montserrat, san-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/* Headings and Logo */
h2 {
    font-family: Montserrat, san-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

/*Top portion(rectangle block) section background of the logo */
#top-banner {
    width: 100%;
    height: 90px;
    top: 0px;
    background-color: rgb(248, 201, 191);
    position: fixed;
    border-bottom-style: inset;
    border-bottom: #431732;
    border-bottom-width: 5px;
    z-index: 99999;
}

#main-content {
    position: relative;
    top:91px;
}

.cupcake-icon {
    width: 46px;
    height: 44px;
    background-color: rgba(141, 31, 3, 0.246);
    border-radius: 10px;
    border: 4px solid rgba(141, 31, 3, .9);
}

/*Baking Frenzy main logo*/
#logo-image {
    float: left;
    margin: .5% 1% 1% 1%;
    width:auto;
    height: 80px; 
}

/*style for the logo name Baking Frenzy Cakes */
#logo-name {
    float: left;
    margin-top: 2%;
    text-transform: capitalize;
    font-family: Lora, sans-serif;
    letter-spacing: 1px;
}

/* navigation links */
#menu {
    font-size: 1rem;
    letter-spacing: 2px;
    font-family: Montserrat, san-serif;
}

#menu, #logo {
    line-height: 90px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 2%;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* codes import from old css file starts here */ 
.home-main {
    margin-top: 2%;
}
#hero-outer {
    height: 70vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 70vh;
    width: 100vw;
    background: url('../images/cupcakes.webp') no-repeat center center; 
    background-size: cover;
}

/* Landing page, welcome banner */
#welc-banner {
    font-size: 200%;
    font-family: Lora, sans-serif;
    width: 100%;
    height: 200px;
    letter-spacing: 4px;
    padding-top: 40px;
    background-color: rgba(233, 50, 5, 0.4);
    bottom: 25%;
    position: absolute;
    text-align: center;
    align-items: center;
}

/*#welc-banner, #welc-banner h2{ commented temporarily to check if welc-banner needed here on this code*/
#welc-banner h2 {
    color: #fff;
    font-family: Montserrat, sans-serif;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    letter-spacing: 0px;
    position: relative;
}

#welc-banner h3 {
    color: #fff;
    font-family: Lora, sans-serif;
    text-transform: capitalize;
    font-size: 2rem;
}

/*What are you looking for text with horizontal rule */
.products-heading h3{
    font-family: Montserrat, sans-serif;
    font-size: 2.8em;
    font-weight: bolder;
    padding-bottom: 10px;
    white-space: nowrap;
    margin-top:3%; 
    width:100%; 
    height:47px; 
    background-color: rgba(233, 50, 5, 0.2);
}

.products-heading h3 span{
    font-weight: bolder;
    font-family: Lora, sans-serif;
}

.prod-text {
    font-family: Lora, san-serif;
    font-size: calc(20px + 1vw);
    letter-spacing: 2px;
}

#choose-text {
    letter-spacing: 1px; 
    margin-top: 5px; 
    font-size: calc(2rem + 1vw); 
    font-weight: bold;
}

button {
    vertical-align: middle;
    width: 220px;
    color: whitesmoke;
    font-size: 16px;
    font-family: Lora, sans-serif;
    padding: 12px;
    background: rgb(142, 30, 2);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 25px; 
    cursor: pointer;
}

/*style for what are you looking for text on the landing page*/
#precakestitle{ /*section for What are you looking for text on the landing page*/
}

.div-center{
    text-align: center;
    align-items: center;
}

/******Style for PRODUCT TYPES******/
/* Style for Cake(Prodcuts) Type starts here*/
.producttype-container {
    width: 65%;
    margin-inline: auto;
}

.producttype-grid {
    display: grid;
    gap: .125rem; 
    column-gap: 100px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 5%;
    border: 4px solid rgba(141, 31, 3, .9);
}

.producttype-card {
}

.producttype-card > img{
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 4px solid rgba(141, 31, 3, .9);
    object-fit: fill;
    border-radius: 10px;
}

.producttype-card > button{
    margin-top: 1rem;
 }

 /*style for the cake product types */
#cake-menus {
    height: 450px;
    /*width: 80%;*/
    width: 65%;
    display: flex; 
    /* margin: 70px 50px 80px 230px; */
    margin: 10% 50px 80px 200px;
   	justify-content: center;
    
}

.cakes-choice {
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 25px;
    width:300px;
    height:280px;
    border-radius: 20px;
    display: inline-block;   
    /*border: 10px solid rgba(102, 22, 2, 0.746);    */
    border: 10px solid rgba(172, 36, 2, 0.4);

}
 
.novelty-hdr {
    width:100%;
    height:100%;
    border-radius: 10px;
    padding-top: 0px;
    margin-top: 0;
 }

 .novelty-hdr button {
  /*  margin-top: 10px;*/
 /*   margin-left: 38px;*/
 }

.wedding-hdr {
    width:100%;
    height:100%;
    border-radius: 10px;
}

.classic-hdr {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.precaketype{
    height:30%;
    border: 5px, solid black;
}

/* ends here, codes import from old css file 


/******Style for GALLERY PHOTOS*******/
/* Style for GALLERY PHOTOS starts here*/

/* gallery photos */
.main-container { 
    display: flex;
    flex-direction: column;
    /* flex-direction: row;  */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 60px; 
    font-family: Montserrat, sans-serif;
    width: 90%;
    /* border: 5px solid red; */
}

.main-container .sub-heading{
    width: 50%;
    padding-bottom: 50px;
}

.main-container .sub-heading h3{
    font-size: 3em;
    font-weight: bolder;
    border-bottom: 3px solid #222;
    padding-bottom: 10px;
    white-space: nowrap;
}

.main-container .sub-heading h3 span{
    font-weight: bolder;
    font-family: Lora, sans-serif;
 /*   border-bottom: 3px solid #222;*/
}

.main-container .contents-box {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.main-container .contents-box .gallery-photos {
    display: flex;
    flex-direction: column; 
    width: 30%;
    padding: 2px 2px 2px 2px;
    /* height: 40%; */
    /* overflow-inline: 0; */
    /* height: 25%; */
}

.main-container .contents-box .gallery-photos img {
    overflow: hidden;
    width: 100%;
    /* height: 300px; */
    padding-bottom: 5px;
    border-radius: 3px;
    object-fit: cover;
}

.top-button {
    /* margin: 40px 0 70px 0;
    background: #3a3a3a;
    padding: 15ps 40px;
    border-radius: 5px; */
    font-family: Pridi, sans-serif;
    margin-top: 20px;
    border-radius: 2px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    background-color:  rgba(214, 99, 70, 0.65);
    color:  #fafafa;
    display: block;
    border: 2px solid rgba(141, 31, 3, 9.246);
}
/* Gallery style ends here */


/********Style for ABOUT US*********/
/*<---About Us style starts here--->*/

/*class for ABOUT US title text */
#pre-about{
    height: 90px;   
}

.about-us-title {
    text-align: center; 
    font-family: Montserrat, sans-serif; 
    font-size: 2rem;
    letter-spacing: 1px;
    color:black;
    display: block;
}

.about { /*section* /
    /* height: 750px; */
}

#about-container { /*container div*/
    max-width: 75rem;
    margin-inline: auto; 
    padding-inline: 1rem; 
    /* margin: auto; */
    /* width: 80%;  */
    border-radius: 10px;
    padding: 2% 5% 2% 5%; 
    background: rgba(146, 31, 2, 0.6501);
    /* border: 5px solid coral; */
} 

/*Grid style for About us NEW*/
.about-grid { 
    display: grid;
    gap: .125rem;
    column-gap: 2rem; 
    /* grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr)); */
    grid-template-columns: repeat(2, 1fr); 
}

.about-card {
    width: 100%;
    /* border: 2px solid rgba(3, 141, 125, 0.9); */
    /* object-fit:cover center center;  */
     /* object-fit:fill;  */
    border-radius: 10px;
}

.about-card > img{
    margin-left: 10%;
    width: 80%; 
    height: 20rem;
    aspect-ratio: 1 / 1;
    border: 2px solid rgba(141, 31, 3, .9);
    /* object-fit: cover center center; */
    /* object-fit:fill; */
    border-radius: 10px;
}

.about-card > video{
    height:auto;
    width:100%;
    border: 2px solid rgba(141, 31, 3, .9);
    object-fit:fill;
    border-radius: 10px;
}

.about-us-texts{
    width: 100%;
    height: 10%;
    padding-top: 1rem;
    text-align:center;  
    font-family: Pridi, sans-serif;
    color: white;
    font-size: 1.2em;
    letter-spacing: 0px;
    /* background: rgba(146, 31, 2, 0.6501); */   
    /*background-color: rgba(233, 50, 5, 0.7);*/
}
/*<-----About Us Style ends here----> */


/***********Style for TESTIMONIALS***********/
#testimonials{ /*section for testimonials*/
    margin-top: 3%;
    margin-bottom: 4%;
}

.testimonials-container{
    max-width: 60rem;
    margin-inline: auto;  
    padding-inline: 1rem; 
    padding-bottom: 1%;
    /* border: 5px solid rgb(46, 46, 51);  */
}

.testimonials-grid { 
    margin-top: 2%;
    display: grid;
    gap: .125rem;
    column-gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    /* repeat(4, 1fr) ; */
    /* grid-auto-rows: 200px; */
    /* border: 5px solid rgb(46, 46, 51);  */
}

.testimonials-card > img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit:fill;
}

.testimonials-card {
    box-shadow: 2rem 1rem 1rem rgb( 0 0 0 / .1);
    padding: 5%;
}

.test-card-title{
    font-family: Lora, sans-serif;
}
.test-card-desc {
}

.test-card-content{
    background: white;
    font-family: Montserrat, sans-serif;
    align-self: end;
    box-shadow: 1rem 1rem 1rem rgb( 0 0 0 / .1);
    letter-spacing: 1px;
    text-align: center;
    font-style: italic;
    padding: 1rem;
}
/******End for Testimonials*****/

/* footer */
footer {
  height: 10vh;
  background-color: rgba(233, 50, 5, 0.2);
  display: flex;
  margin-top: 0px;
}

footer ul {
  list-style: none;
  text-align: center;
  display: flex;
  padding: 0;
  width: 100%;
  justify-content: center;
  background-color: rgba(233, 50, 5, 0.2);
  flex-wrap: wrap;
  align-content: center;
}

footer ul i {
  font-size: 160%;
  margin: 10px;
  padding: 10px;
  color: whitesmoke;
}

footer ul i:hover {
  color: #da48a4;
}
/********FOOTER ENDS HERE******************


/*<----Sign up Form style starts here----> */
/*Style for Sign-Up Form */
.form-section {
    clear: left;
    /* background: url('../images/cakencandles.jpg'); */
    background: url('../images/cakencandles.webp');
    background-size: cover;
    background-position: center;
    height: 850px;
}

.form-signup {
    /*margin: 130px 10% 0 0;*/
    margin: 100px 10% 0 0;
    left: 10%;
    color: #fff;
    background-color: rgba(146, 31, 2, 0.6);
    max-width: 400px;
    position: absolute;
    padding: 30px;
    border: 5px solid rgba(141, 31, 3, .9);
    border-radius: 10px;
}

.form-signup h2 {
    color: #fafafa;
    margin-bottom: 20px;
    font-family: Montserrat, sans-serif;
    text-transform: capitalize;
}

.text-label {
    font-family: Lora, sans-serif;
}

.text-input {
    background: transparent;
    width: 100%;
    color: #fafafa;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    font-family: Lora, sans-serif;
} 

.text-input:hover {
    /*border-color: #f16c6b ;*/
    border-color: lightcoral;
}

.button-submit {
     font-family: Pridi, sans-serif;
     margin-top: 20px;
     border-radius: 2px;
     padding: 10px 30px 10px 30px;
     text-align: center;
     /*font-size: 100%;*/
     font-size: 1.2rem;
     font-weight: bold;
     letter-spacing: 2px;
     background-color:  rgba(92, 21, 3, 0.65);
     color:  #fafafa;
     display: block;
     border: 2px solid rgba(141, 31, 3, 9.246);;
 }

.button-submit:hover {
    background-color: #fafafa;
    /*color: #f16c6b;*/
    color: lightcoral;
}
/*<----Sign up Form style ends here---->*/


/*style for common header like Our Sweet Gallery, Our Products */
.what-cake{
    font-size: 1.6rem;
    /* border: 3px solid black; */
    /* margin-top: 1%; */
}
.product-section{
    margin-bottom: 3%;
}

.common-title  {
    font-family: Montserrat, sans-serif;
    font-size: 1.8rem;
    text-align: center;
    /* border-bottom: 3px solid black; */
    /*margin-top: 4%; */
    padding-bottom: 2%;
}

.common-title h3 span{
    font-weight: bolder;
    font-family: Lora, sans-serif;
    /* border-bottom: 3px solid #222;  */
}

/*CSS GRID for CAKE PRODUCTS ITEMS*/
.product-container{
    max-width: 75rem;
    margin-inline: auto; 
    padding-inline: 1rem; 
    /* border: 5px solid rgb(46, 46, 51); */
}

.product-grid { 
    display: grid;
    gap: .125rem;
    column-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    /* repeat(4, 1fr) ; */
    /* grid-auto-rows: 200px; */
}

.product-card {
    /* border: 3px solid hotpink; */
}

.product-card > img{
    width: 100%;
    aspect-ratio: 1 / 1;
    border: 2px solid rgba(141, 31, 3, .9);
    /* object-fit:cover; */
    object-fit:fill;
    border-radius: 15px;

}

.card-title{
    font-family: Lora, sans-serif;
    font-size: 1.5em;
    color: rgba(141, 31, 3, .9);
    text-align: center;
    letter-spacing: .2px;
}
.card-content{
    background: white;
    align-self: end;
    box-shadow: 0 .25rem 1rem rgb( 0 0 0 / .1);
    font-family: Montserrat, sans-serif;
    letter-spacing: -.8px;
    text-align: center;
    /* margin: .5rem .5rem 2rem; */
    padding: 1rem;
    
}
/* End of Style for CAKE PRODUCS ITEMS USING GRID */



/*<-----------MEDIA QUERY STYLES STARTS HERE------------>*/
/* Media query for responsive - tablet size */
@media screen and (max-width: 900px) {
    h1 {
        font-size: 1.5rem;
    }
    #top-banner {
        height: 80px;    
        /* width: 95%; */
    }
    #logo-name {
        margin-top: 2.5%;
    }
    #logo-image {
        height: 70px; 
    }

    #menu {
        font-size: 1rem;
        letter-spacing: 1px;
    }
    
    .main-container { 
        margin: 2% 1% 0 1rem; 
        width: 95%;
        /* border: 5px solid red; */
    }
    
    .producttype-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr))
    }
}
    
/* Media query for responsive - Mobile size */
@media screen and (max-width: 750px) {
    h1 {
        font-size: 1rem;
    }
    #top-banner {
        height: 55px;    
    }
    #logo-name {
        margin-top: 2%;
    }
    #logo-image {
        height: 50px; 
    }
    .producttype-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr))
    }
}
/* Media query for 510 down*/
/*nav link HOME drops down 1 line*/
@media screen and (max-width: 510px) {
     #menu {
        /* clear: both; */
        font-size: .6rem;
        line-height: 48px;
        /* margin-bottom: 10px; */
        }

    .top-button{
        margin-top: 1%;
        font-size: 1rem;
        height: 1%;
    }

    .main-container .sub-heading h3{
        font-size: 1.1rem;
        border-bottom: 3px solid black;
        margin-top: 4%;
    }

    .main-container .contents-box .gallery-photos img {
        padding-bottom: 5px;
    }

    .about-grid { 
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
    
    footer {
            height: 2%;
    }
    .producttype-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr))

    }
}



/* Media query for 320px - probably smallest device*/
@media screen and (max-width: 320px) {
    #menu { /*Nav menus*/
        /* clear: both; */
        font-size: .7rem;
        line-height: 48px;
        /* margin-bottom: 10px; */
    }

    .top-button {
        margin-top: 1%;
        font-size: 1rem;
        height: 1%;
    }

    /* #welc-banner h2 {     */
    /* font-size: calc(24px + 6 * ((100vw - 320px) / 680)); */
    /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */
    /*width: fit-content;*/
    /*this code makes my h2 not centered for some reason */
    /* letter-spacing: 0px; */
    /* position: relative; */
    /* } */
    /*edited this one down below */
    .main-container .sub-heading h3 {
        font-size: 1.2rem;
        border-bottom: 1px solid black;
        margin-top: 4%;
    }

    .main-container .contents-box .gallery-photos img {
        padding-bottom: 5px;
    }

    .common-title {
        font-size: 1.1rem;
        margin-top: 4%;
        padding-bottom: 1%;
    }

    .common-title h3 span {
        font-size: 1.3rem;
    }

    footer {
        height: 2%;
    }
    .producttype-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

